-- Migration: Create Result Snapshots Table & Document Storage Bucket
-- Description: Stores permanent historical URLs of generated End-of-Term Result PDFs and Admission Letters.

CREATE TABLE IF NOT EXISTS public.academic_snapshots (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id UUID NOT NULL REFERENCES public.tenants(id) ON DELETE CASCADE,
    student_id UUID NOT NULL REFERENCES public.students(id) ON DELETE CASCADE,
    academic_session_id UUID NOT NULL REFERENCES public.academic_sessions(id) ON DELETE CASCADE,
    term TEXT NOT NULL, -- e.g. "2025/2026 First Term"
    document_type TEXT NOT NULL DEFAULT 'result_sheet', -- 'result_sheet' | 'admission_letter'
    file_url TEXT NOT NULL, -- Supabase Public URL for the PDF
    created_by UUID REFERENCES public.profiles(id) ON DELETE SET NULL, -- Admin/Teacher who froze it
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    
    -- Ensure a student only has one official result snapshot per term to avoid duplicate spam
    UNIQUE(student_id, academic_session_id, term, document_type)
);

-- RLS Enablement
ALTER TABLE public.academic_snapshots ENABLE ROW LEVEL SECURITY;

-- Policy: Tenant Bound View
CREATE POLICY "Users can view snapshots in their tenant"
    ON public.academic_snapshots FOR SELECT
    USING (tenant_id = (SELECT tenant_id FROM public.profiles WHERE id = auth.uid()));

-- Policy: Admins/Teachers can create snapshots
CREATE POLICY "Admins and Teachers can create snapshots"
    ON public.academic_snapshots FOR INSERT
    WITH CHECK (
        tenant_id = (SELECT tenant_id FROM public.profiles WHERE id = auth.uid()) AND
        EXISTS (
            SELECT 1 FROM public.profiles 
            WHERE id = auth.uid() AND role IN ('admin', 'teacher')
        )
    );

-- Storage Bucket Creation for "official-documents"
INSERT INTO storage.buckets (id, name, public) 
VALUES ('official-documents', 'official-documents', true)
ON CONFLICT (id) DO NOTHING;

-- Storage Policy: Anyone can view public documents (PDFs are assumed non-secret if URL is known, or can be secured later)
CREATE POLICY "Public Document Viewing"
    ON storage.objects FOR SELECT
    USING (bucket_id = 'official-documents');

-- Storage Policy: Authenticated users can upload documents
CREATE POLICY "Authenticated users can upload official documents"
    ON storage.objects FOR INSERT
    WITH CHECK (
        bucket_id = 'official-documents' AND
        auth.role() = 'authenticated'
    );

